/*List style*/

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin-top: 2px;
}

.list-inline > li {
  display: inline-block;
  margin: 5px;
  padding: 5px;

}

.icon-size {
  font-size: 40px;
}
